In [24]:
import pandas as pd
import numpy as np
from scipy import stats

In [8]:
data=pd.read_csv('iris_dataworld_test (1).csv',index_col=0)

In [9]:
data

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
1             5.1          3.5           1.4          0.2     setosa
2             4.9          3.0           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
5             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.7          3.0           5.2          2.3  virginica
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# Numpy functions

In [17]:
SepLen_mean=np.mean(np.array(data['Sepal.Length']))
print(SepLen_mean)

5.843333333333334

In [20]:
SepWid_mean=np.mean(np.array(data['Sepal.Width']))
print(SepWid_mean)

3.0573333333333337

In [22]:
SepWid_median=np.median(np.array(data['Sepal.Width']))
print(SepWid_median)

3.0

In [26]:
petWid_mode=stats.mode(np.array(data['Petal.Width']))
print(SepWid_mode)

ModeResult(mode=array([0.2]), count=array([29]))

In [28]:
Petlen_std=np.std(np.array(data['Petal.Length']))
print(Petlen_std)

1.759404065775303

In [ ]:
petal_length=data[]

# DataFrames

## Indexing and selecting Data

In [30]:
petal_length=data['Petal.Length']

In [31]:
print(petal_length)

1      1.4
2      1.4
3      1.3
4      1.5
5      1.4
      ...
146    5.2
147    5.0
148    5.2
149    5.4
150    5.1
Name: Petal.Length, Length: 150, dtype: float64

In [32]:
data.iloc[1]

Sepal.Length       4.9
Sepal.Width          3
Petal.Length       1.4
Petal.Width        0.2
Species         setosa
Name: 2, dtype: object

In [35]:
data.isnull().any()

Sepal.Length    False
Sepal.Width     False
Petal.Length    False
Petal.Width     False
Species         False
dtype: bool

In [36]:
data.dropna()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
1             5.1          3.5           1.4          0.2     setosa
2             4.9          3.0           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
5             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
146           6.7          3.0           5.2          2.3  virginica
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [40]:
species=data['Species'].unique()

In [41]:
species

array(['setosa', 'versicolor', 'virginica'], dtype=object)